
<div class="row">
    <div class="col-md-3 d-none d-md-block">
      <filter [category]="category"></filter>
    </div>
  
    <div class="col">
      <div class="row" *ngIf="cart$ | async as cart">
        <ng-container *ngFor="let p of filtered; let i = index">
          <div class="col">
            <app-product [product]="p" [shopping-cart]="cart"></app-product>
          </div>
          <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
        </ng-container>
      </div>
    </div>
  </div>
  
  
  
  