.thumbnail { 
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
}

p {
    margin: 20px;
    font-size: 1.2em;
}

.btn-delete {
    float: right;
}

.cart-items {
    font-size: 1.5em;
    vertical-align: middle;
}