<div class="row">
  <div class=col>
    <div class="card bg-white">
      <ng-container *ngIf="cart$ | async as cart">
          <p *ngIf="cart.totalItemsCount > 0">Vous avez <span class="text-danger font-weight-bold">{{ cart.totalItemsCount }}</span> items sauvegardés dans votre panier.
            <button *ngIf="cart.items.length" class="btn btn-light btn-sm btn-delete" (click)="clearCart()">
              Tout Supprimer
            </button>
          </p>

          <!--<div *ngFor="let item of cart.items" class="row cart-items">
            <div class="col-md-2 text-center"><div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div></div>
            <div class="col-md-5">{{ item.title }} <br> {{ item.code }} </div>
            <div class="col-md-4 text-center"><product-quantity [product]="item" [shopping-cart]="cart"></product-quantity></div>
            <div class="col-md-3 text-right">{{ item.totalPrice | number : '1.2-2' }}</div>
          </div>-->

          <div class="table-responsive">
              <table class="table table-responsive bg-light">
                  <tbody>
                    <tr *ngFor="let item of cart.items">
                      <td class="text-center"><div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div></td>
                      <td>{{ item.title }} <br> {{ item.code }} </td>
                      <td class="text-right"><product-quantity [product]="item" [shopping-cart]="cart"></product-quantity></td>
                      <td class="text-right">{{ item.totalPrice | number : '1.2-2' }}</td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                      <td class="text-right font-weight-bold">Total</td>
                      <td class="text-right font-weight-bold">{{ cart.totalPrice | number : '1.2-2' }}</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td class="text-right font-weight-bold">
                          <a *ngIf="cart.items.length" class="btn btn-info" routerLink="/check-out">
                            Commander
                          </a>
                        </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </ng-container>
    </div>      
  </div> 
</div>

  
  