.logo {
    width: 70%;
}

.dropdown-toggle { 
    cursor: pointer;
}

a.navbar-brand {
    font-size: 1.3em;
    text-transform: lowercase;
}

.dropdown-item {
    font-size: 1.3em;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-size: 1.3em;
    text-transform: lowercase;
}

i.nc-icon {
    font-size: 1.3em;
}

.thumbnail { 
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
}

  