
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <h3>Commandes <br> <strong>120,450</strong></h3>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <h3>Ventes <br> <strong>134,450,700</strong></h3>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <h3>Clients <br> <strong>14,648</strong></h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <h3>Non Complétés <br> <strong>50</strong></h3>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <h3>Ventes <br> <strong>134,450,700</strong></h3>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <h3>Clients <br> <strong>14,648</strong></h3>
    </div>
  </div>
</div>
