.alert {
    color: orangered;
    font-size: 0.8em;
    padding: 5px;
    margin-top: 2px;
    margin-left: -10px;
    background: none;
    border: none;
}

button {
    margin-top: 15px;
}

.align-right {
    float: right;
}