
.card {
    margin-bottom: 30px;
}

.card-title {
    font-size: 1.3em;
}

.p-size {
    font-size: 1.2em;
    font-weight: bold;
}

.card-img-top { 
    height: 175px;
    width: 175px;
}

.card-footer button {
    cursor: pointer;
}

