
.sticky-top {
    top: 100px;
}

input {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.align-right {
    float: right;
}

.bottom-spacing {
    margin-bottom: 35px;
}

.text-align-right {
    text-align: right;
}


 